*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Madera Medium';
	font-family: 'SinovaW01-Light', 'Madera Medium', 'Mallanna-Regular';
}

html,body{
	height: 100%;
	scroll-behavior: smooth;
}


@font-face{
	font-family: 'Madera Medium';
	src: url('../fonts/Madera Medium.ttf') format('truetype');

}

@font-face{
	font-family: 'Mallanna-Regular';
	src: url('../fonts/Mallanna-Regular.ttf') format('truetype');

}

.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

.clear{
	clear: both;
}

header{
	width: 100%;
	height: 50vh;
	min-height: 700px;
	padding:40px 2%;
	/*max-height: 700px;*/
	background-size: cover;
	background-position: center;
	background-image: url('../images/header.png');
	font-weight: 300;
}

.slide{
	width: 705px;
	height: 398px;
	margin-top: 140px;
	padding: 65px;
	
}

.slide h1{
	color: yellow;
	margin: 30px 0;
	font-size: 48px;
	font-family: 'Madera Medium';
}

.slide p{
	color: white;
}

.btn{
	margin: 40px 0;
	color: white;
	width: 175px;
	height: 46px;
	border: 2px solid yellow;
	border-radius: 8px;
	cursor: pointer;

}

.btn:hover{
	border: 2px solid #d9d916;
	background-color: #d9d916;
}

.btn a{
	text-decoration: none;
}

.btn p{
	letter-spacing: 2px;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Mallanna-Regular';
}

.arrows{
	position: absolute;
}

.arrow-right img{
	position: relative;
	width: 20px;
	height: 20px;
	top: -50px;
	
}

section.sobre{
	width: 100%;
	padding-top: 60px;
	background-color: #E0E1E7;	
}

.container-sobre{
	width: 100%;
	max-width: 1180px;
	height: 540px;
	margin: 0 auto;
}

.image-sobre{
	width: 50%;
	float: left;
	padding: 30px 0px;
	text-align: center;
}

.image-sobre img{
	width: 440px;
	height: 382px;
}

.text-sobre{
	width: 50%;
	float: left;
	padding: 10px 30px 30px;
	padding-left: 10px;
	text-align: justify;
}

.text-sobre h1{
	font-size: 48px;
	font-family: 'Madera Medium';
}

.text-sobre p{
	padding-top: 20px;
	font-size: 16px;
}

.text-sobre h2{
	padding-top: 20px;
	font-size: 16px;
	font-family: 'Mallanna-Regular'; 
	line-height: 15px;
}

.bullet-list{
	background-color: #393C52;
	color: white;
	width: 25%;
	height: 160px;
	float: right;
	position: relative;
	bottom: -40px;
	right: 20px;
	padding: 18px 20px;
	line-height: 30px;	
}

.bullet-list i{
	margin-right: 7px;
}

section.company{
	width: 100%;
	height: 638px;
	margin: 0 auto;
	padding: 30px;
	background-color: #202123;
}

.company-wraper{
	width: 50%;
	float: left;
	padding: 20px;
	height: 570px;
}

.line{
	width: 87px;
	height: 7px;
	background-color: yellow;
	margin-left: 42%;
	margin-top: 40px;
}

.company-wraper h1{
	font-size: 46px;
	font-family: 'Madera Medium';
	color: yellow;
	text-align: center;
	line-height: 50px;
	padding: 0 40px;
	padding-top: 20px;
}

.company-wraper p{
	text-align: center;
	padding: 40px 60px;
	color: white;
}

.company-wraper .btn{
	text-align: center;
	margin-top: -0px;
	margin-left: 30%;
}

.company-wraper .btn p{
	padding: 5px;
}

.image-company{
	width: 50%;
	float: left;
}

.image-company img{
	width: 570px;
	height: 570px;
}

section.features{
	width: 100%;
	margin: 0 auto;
	background-color: #E0E1E7;
}

.services > p{
	width: 100%;
	text-align: center;
	margin-top: 60px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 5px;
}

.services > h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
	margin-top: 23px;
	font-family: 'Madera Medium';
}

.service-wraper{
	width: 30%;
	height: 550px;
	float: left;
	background-color: white;
	margin-right: 38px;
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;

}

.service-wraper:nth-child(6){
	margin-bottom: 60px;
}

.service-wraper img{
	width: 301px;
	height: 283px;
}

.service-wraper h1{
	font-family: 'Madera Medium';
	margin-top: 5px;
	color: black;
}

.service-wraper a{
	text-decoration: none;
}

.service-wraper p{
	margin-top: 19px; 
}

.btn-service{
	display: inline-block;
	margin-top: 25px;
	padding-top: 5px;
	width: 148px;
	height: 42px;
	border-radius: 16px;
	background-color: #d9d916;
	cursor: pointer;
}

.btn-service span{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Mallanna-Regular';
	letter-spacing: 2px;
}

.line-service{
	width: 113%;
	height: 20px;
	margin-right: 0;
	margin-top: 0;
	padding: 0;
	background-color: #d9d916;
	position: relative;
	left: -20px;
	top: 29px;
	border-radius: 9px;
}

.line-service2{
	width: 113%;
	height: 20px;
	margin-right: 0;
	margin-top: 0;
	padding: 0;
	background-color: white;
	position: relative;
	left: -20px;
	top: 2px;
	border-radius: 5px;
}

section.software{
	width: 100%;
	
	background-color: #202123;
}

.software-full{
	width: 100%;
	max-width: 967px;
	height: 750px;
	margin: 0 auto;
	padding-top: 60px;

}

.software-app{
	width: 50%;
	float: left;
	text-align: center;
	color: white;
}

.software-app img{
	margin-top: 145px;
	width: 420px;
	height: 285px;
	padding: 30px;
}

.software-app a{
	text-decoration: none;
}

.software-app p:nth-of-type(1){
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.software-app p:nth-of-type(2){
	width: 420px;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}

.software-dev{
	width: 50%;
	float: left;
	text-align: center;
}

.software-dev img{
	width: 400px;
	padding: 30px;
}

.software-dev h1{
	font-size: 48px;
	font-family: 'Madera Medium';
	line-height: 60px;
	color: yellow;
}

.software-dev p{
	width: 446px;
	margin-top: 30px;
	color: white;
}

section.work{
	width: 100%;
	height: 650px;
	margin: 0 auto;
	background-color: #E0E1E7;
}

.work-done{
	width: 100%;
	text-align: center;
}

.work-done > a{
	text-decoration: none;
}

.work-done h1{ 
	font-size: 48px;
	margin-top: 60px;
	font-family: 'Madera Medium';
}

.work-client .line-service{
	width: 100%;
	top:16px;
	left: 0px;
}

.work-client .line-service2{
	width: 100%;
	top:-11px;
	left: 0px;
}

.work-client{
	width: 30%;
	float: left;
	height: 327px;
	background-color: white;
	margin-top: 50px;
	border-radius: 20px;
	margin-right: 37px;
}

.work-client h1{
	margin-top: 10px;
	font-family: 'Mallanna-Regular';
	font-size: 20px;
}

.work-client p{
	padding: 20px;
	padding-top: 10px;
	text-align: justify;
	font-style: italic;
	text-align: center;
}

.client{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #ccc;
	margin-left: 33%;
	margin-top: 40px;
}

section.recurse{
	width: 100%;
	height: 1448px;
	background-color: #202123;
}

.recurse-service{
	width: 1220px;
}

.recurse-service > a{
	text-decoration: none;
}

.recurse-service h1{
	text-align: center;
	margin-top: 63px;
	font-family: 'Madera Medium';
	font-size: 48px;
	color: yellow;
}

.recurse-service > p{
	padding-top: 22px;
	width: 90%;
	
	text-align: center;
	color: white;
}

.recurse-wraper{
	margin-top: 36px;
	width: 30%;
	height: 600px;
	float: left;
	background-color: #626ac8;
	padding: 30px;
}

.recurse-wraper h1{
	color: white;
	font-family: 'Madera Medium';
	font-size: 25px;
	padding-top: 300px;
	line-height: 40px;
	text-align: left;
}

.recurse-wraper p{
	padding-top: 30px;
	color: white;
}

.contact{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	
}

.contact-information{
	margin-bottom: 300px;
	position: relative;
	top: 250px;
	width: 45%;
	float: left;
	height: 698px;
	padding: 30px;
	background-color: white;
	box-shadow: 0 8px 14px 0 rgba(224, 224, 224, 0.5);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-left: 10px;
}

.info-title p{
	font-size: 18px;
	padding: 20px 0;
	font-weight: bold;
}

.contact-information h1{
	font-family: 'Madera Medium';
	line-height: 40px;
	width: 431px;
	font-size: 36px;
	color: #d9d916;
}

.contact-information p{
	font-size: 20px;
	padding: 30px 0;	
}

.contact-information span{
	padding: 20px 0;
	font-size: 18px;
	font-family: 'Madera Medium';
	font-weight: bold;
	color: #d9d916;
}

.contact-information h1:nth-of-type(2){
	padding: 20px 0;
}
.icons-contact{
	width: 100%;
	margin-top: 10px;
}

.icons img{
	width: 25px;
	height: 25px;
	margin-right: 5px; 
	float: left;
}

.form-contact{
	margin-left: 70px;
	width: 50%;
	padding:60px 2%;
	margin-bottom: 300px;
	position: relative;
	top: 250px;
	width: 45%;
	float: left;
	height: 698px;
	padding: 30px;
	background-color: white;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 0 8px 14px 0 rgba(224, 224, 224, 0.5);
}

.form-contact form h1{
	color: #d9d916;
	margin-top: -10px;
	font-size: 48px;
	font-family: 'Madera Medium';
}

.form-contact > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

.form-contact form{
	width: 100%;
	margin: 20px auto;
	max-width: 500px;
}

.form-wraper{
	float: left;
	padding:0 10px;
	margin-top: 30px;
}

.w100{
	width: 100%;
}

.form-wraper span{
	font-size: 15px;
	color: #b4b4b4;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border:1px solid #dadada;
	margin-top:8px;
}

.form-wraper textarea{
	width: 100%;
	margin-top:8px;
	padding:8px;
	height: 121px;
	resize: none;
	border: 1px solid #dadada;
	/*
	resize: horizontal;
	resize: vertical;
	*/
}

.form-wraper input[type=submit]{
	border: 0;
	background-color: #d9d916;
	margin: 10px 0;
	color: white;
	width: 175px;
	height: 46px;
	border-radius: 8px;
	cursor: pointer;
	letter-spacing: 2px;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Mallanna-Regular';
	/*
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	*/
}

footer{
	margin-top: 380px;
	padding: 30px 0;
	background-color: #202123;
}

.right p{
	color: white;
	text-align: center;
}


@media screen and (max-width: 1140px){
	.container-sobre{
		padding-left: 10%;
	}

	.image-sobre{
		width: 100%;
	}

	.text-sobre{
		width: 100%;
		max-width: 700px;
	}

	.bullet-list{
		margin-left: 4%; 
		width: 100%;
		max-width: 300px;
		float: left;
		margin-bottom: 70px;
		margin-top: -10px;
		display: inline-block;
	}

	section.company{
		width: 100%;
		height: 1000px;
	}

	.company-wraper{
		width: 100%;
	}

	.image-company{
		width: 100%;
		position: relative;
		margin-top: 50px;
		top: -270px;
		left: 9%;
	}

	.company-wraper .btn{
	 	margin-left: 36%;
	}

	.image-company{
		width: 100%;

	}

	.image-company img{
		text-align: center;
		margin-top: 80px;
		padding-right: 2%;
	}


	.service-wraper{
		width: 40%;
		margin-left: 40px;
	}

	.service-wraper:nth-of-type(6){
		margin-bottom: 100px;
	}

	.line-service{
		width: 110%;
	}
	.line-service2{
		width: 110%;
	}

	section.work{
		height: 1400px;
	}

	.work-done{
		display: inline-block;
		text-align: center;
	}

	.work-client{
		width: 48%;
		margin-left: 24%;
		margin-right: 15px;
	}

	.work-client:nth-of-type(3){
		margin-bottom: 30px;
	}

	.work-client .line-service2{
		top: 20px;
	}

	.work-client .line-service{
		top: 50px;
	}

	.client{
		margin-left: 40%;
	}

	.recurse-service{
		width: 98%;
		margin-left: 5%;
	}

	.recurse-wraper p, h1{
		padding-top: 10px;
	}

	.contact-information h1, p{
		width: 100%;
	}
}

@media screen and (max-width: 1050px){
	.work-client .line-service{
		top:28px;
	}

	.work-client .line-service2{
		top: -2px;
	}

	.image-company img{
		margin-left: 85px;
	}
}

@media screen and (max-width: 1000px){
	.software-full{
		width: 65%;

	}

	.software-app{
		margin-top: -110px;
		width: 100%;
	}

	.software-dev{
		width: 100%;
		padding-top: 50px;
		margin-bottom: 90px;
	}

	.software-dev p{
		width: 100%;
	}
}

@media screen and (max-width: 920px){
	.container-sobre img{
		margin-left: -60px;
	}
	.contact-information{
		width: 85%;
		margin-left: 8%;
	}

	.form-contact{
		width: 85%;
	}

	.service-wraper{
		width:49%;
		margin-left: 25%;
	}

	section.recurse{
		height: 3720px;	
	}

	.recurse-wraper{
		width: 65%;
		margin-left: 10%;
	}

	.recurse-wraper h1{
		font-size: 30px;
		padding-top: 300px;
	}

	.recurse-wraper p{
		font-size: 20px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 771px){
	.work-client .line-service{
		top:20px;
	}

	.work-client .line-service2{
		top: -10px;
	}

	.client{
		margin-left: 37%;
	}
}

@media screen and (max-width: 700px){

	.service-wraper img{
		width: 100%;
		
	}

	.image-company img{
		width: 80%;
		height: 100%;
		padding-top: 50px;
	}
}

@media screen and (max-width: 573px){

	.work-client .line-service{
		top:2px;
	}

	.work-client .line-service2{
		top: -28px;
	}

	.client{
		margin-left: 34%;
	}

	.contact-information{
		top: 70px;
	}

	.form-contact{
		top: 0px;
		margin-left: 8%;
	}

	.recurse-service > h1{
		text-align: center;
		margin-left: -15px;  
		font-size: 40px;
	}

	.image-sobre img{
		width: 374px;
		margin-left: -55px;
	}

	.img-service img{
		height: 200px;
	}

	.service-wraper .line-service{
		width: 118%;
		top:53px;
	}

	.service-wraper .line-service2{
		width: 118%;
		top: 24px;
	}

	.service-wraper:nth-of-type(1){
		height: 489px;
	}

	.service-wraper:nth-of-type(4){
		height: 489px;
	}

	.service-wraper:nth-of-type(5){
		height: 489px;
	}
	.service-wraper .line-service2:nth-of-type(1){
		width: 118%;
		top: 24px;
	}

	.recurse-service > h1{
		font-size: 35px;
	}

}


@media screen and (max-width: 530px){
	.slide h1{
		font-size: 30px;
	}

	.slide p{
		width: 100%;
	}

	.company-wraper h1{
		font-size: 20px;
	}

	.software-app img{
		width: 370px;
		height: 370px;
		margin-left: -50px;
	}

	.software-app p{
		max-width: 275px;
		margin-left: -10px;
	}

	.software-app p:nth-of-type(2){
		margin-left: -10px;
	}

	.software-dev img{
		width: 370px;
		height: 370px;
		margin-left: -50px;
	}

	.software-dev h1{
		font-size: 40px;
	}
}

@media screen and (max-width: 415px){
	.slide{
		margin-left: -29px;
	}

	.slide p{
		width: 300px;
		margin: 0;
	}

	.btn p{
		text-align: left;
		position: relative;
		left:35px;
	}

	.container-sobre img{
		width: 95%;
		height: 375px;
	}

	section.company{
		height: 900px;
	}

	.company-wraper .line{
		margin-left: 38%;
	}

	.company-wraper > h1{
		font-size: 30px;
	}

	.company-wraper > p{
		width: 375px;
		margin-left: -39px;
	}

	.company-wraper .btn{
		margin-left: 70px;
	}

	.image-company{
		width: 100%;
		padding-top: 50px;
		margin-left: -100px;
	}


	.services{
		padding-left: 10px;
	}

	.service-wraper{
		width: 95%;
		height: 470px;
		margin-left: 0;
	}

	.service-wraper .line-service{
		width: 112%;
		top:53px;
	}

	.service-wraper .line-service2{
		width: 112%;
		top: 24px;
	}

	.service-wraper:nth-of-type(1){
		height: 460px;
	}

	.service-wraper:nth-of-type(4){
		height: 460px;
	}

	.service-wraper:nth-of-type(5){
		height: 460px;
	}
	
	section.work{
		padding-left: 10px;
	}

	.work{
		height: 700px;
	}

	.work-client{
		width: 95%;
		height: 305px;
		margin: 0;
		margin-top: 30px; 
	}

	.recurse-service{
		margin-left: 15px;
	}

	.recurse-service p{
		margin-bottom: 30px;
	}

	.recurse-wraper{
		width: 95%;
		margin: 0;
		margin-bottom: 60px;
	}

	.contact-information{
		width: 300px;
	}

	footer{
		position: relative;
		bottom: -550px;
		margin: 0;
	}
}

@media screen and (max-width: 390px){
	.container-sobre img{
		width: 300px;
		height: 300px;
	}

	.company-wraper h1{
		font-size: 25px;
	}

	.company-wraper > p{
		margin-left: -60px;
	}

	.company-wraper .btn{
		margin-left: 36px;
	}

	.service-wraper{
		height: 471px;
	}

	.service-wraper .line-service{
		width: 113%;
		top:53px;
	}

	.service-wraper .line-service2{
		width: 113%;
		top: 24px;
	}

	.software-app img{
		width: 360px;
		margin-left: -60px;
	}

	.software-dev img{
		width: 360px;
		margin-left: -60px;
	}

	.software-dev h1{
		font-size: 30px;
	}

	.recurse-service > h1{
		font-size: 30px;
	}

	.contact-information{
		height: 850px;
	}

	.form-contact{
		margin-top: -120px;
	}

	.work-client{
		margin-bottom: 30px;
	}

	.work-client .line-service2{
		top:-35px;
	}

	.work-client .line-service{
		top:-4px;
	}

	footer{
		bottom: -690px;
	}
}

@media screen and (max-width: 360px){
	.recurse-wraper{
		height: 700px;
	}

	.recurse-service > h1{
		padding-left: -30px;
	}

	.recurse-service > p{
		padding-left: 10px;
	}

	.service-wraper{
		height: 490px;
	}

	.service-wraper:nth-of-type(1){
		height: 490px;
	}

	.service-wraper:nth-of-type(4){
		height: 490px;
	}

	.service-wraper:nth-of-type(5){
		height: 490px;
	}

	footer{
		margin-top: 375px;
	}
}

@media screen and (max-width: 300px){
	.work-client{
		height: 340px;
		margin-top: 10px;
	}

	footer{
		margin: 0;
	}
}